{% extends 'vacancy/base.html' %}
{% load static %}

{% block content %}
<div class="container card">
    <h1>Congratulations!</h1>
    <p>Your application has been received. We will get back to you for more 
        information as soon as we reviewed all the applications.</p>
    <p>Until then please check our website: <ins cite="www.ecdswc.com">www.ecdswc.com</ins> to findout about our working environment</p>
    <p>If you have any questions, you can contact as via phone: +251925394152</p>
</div>
{% endblock %}
